<script src="https://d26b395fwzu5fz.cloudfront.net/3.2.2/keen.min.js" type="text/javascript"></script>
<script type="text/javascript">
var client = Keen.configure({
  projectId: "53ffb525709a395fcf000002",
  readKey: "5c8d03488263a158adafbb2eb43f7e4af1f4600c9c58da7d07a98fd8195c637455b364df209ca160a135207bf38164797f6fe8d65446a20211b923c84068c99ed0896466efdade0617de7e88e04ada3ccb11b7f9605cf7dab00c374e7485e52157dc93ad6752b7c7e61a438230d9625b"
});

Keen.ready(function(){
// --------------------------------------------------------
// Program Views Column Chart
// --------------------------------------------------------

  var total_pageviews = new Keen.Query("count", {
    eventCollection: "view_program",
    timeframe: "this_30_days",
    interval: "daily",
    groupBy: "program_id"
  });
  client.draw(total_pageviews, document.getElementById("total-views-columnchart"), {
  chartType: "columnchart",
  title: "Daily views (last 30 days)",
  chartOptions: {
    isStacked: true
  }
  });

</script>
  <div class="container-fluid">
  	<div class="wide">

    <div class="row">
      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Listing Views
          </div>
          <div class="chart-stage">
            <div id="total-views-columnchart">This text will get replaced by the graph.
            </div>
          </div>
          <div class="chart-notes">
            This chart shows how many people viewed this listing in the last 30
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x240/white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x120/white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x120/white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x120/white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
    </div>
    <iframe src="https://kidnimble.com/search"></iframe>
    </div>